.navbar {
    background-color: rgb(253, 253, 251);
    color: rgb(122, 86, 9);
    display: flex;
    justify-content: space-between;
    width: max-content;
    width: 100%;
    font-weight: 600;
    height: auto;
    font-size: 20px;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    z-index: 100;
}